body {
    font-family: sans-serif;
    padding: 25px;
    padding-top: 0px;
}

div.pagetitle h1 {
    font-size: 125%;
    display: block;
    border-bottom: 1px solid #004ABA;
    font-weight: normal;
    margin-bottom: 0px;
}

div.pagetitle h2 {
    font-size: 70%;
    display: block;
    color: #004ABA;
    border: 0px;
    font-weight: normal;
    margin-top: 2px;
}

h1 {
    font-size: 120%;
    margin-top: 18px;
    margin-bottom: 9px;
}

h2 {
    font-size: 80%;
    display: block;
    width: 100%;
    border-bottom:1px solid #CCCCCC;
    margin-top: 12px;
    margin-bottom: 6px;
}

em {
    font-style: normal;
    color: #444444;
}

a.none, a.none:visited {
    color: inherit;
    text-decoration: inherit;
}

p, p:hover {
    font-size: 80%;
    color: black;
    display: block;
    padding: 0px;
    margin: 0px;
    padding-left: 35px;
    text-indent: -35px;
}

p.single, p.single:hover {
    padding-left: 0px;
    text-indent: 0px;
}

p:hover {
    color: black;
    background-color: #EEEEEE;
}